################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Db/SQLite/DbFile
/UI/bin/
/UI/obj/
/Db/obj/
/Db/bin/
/.vs