<!-- Top Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" asp-controller="Libraries" asp-action="Index" title="Home"> Home </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <!-- Individual Menus -->
                <!-- Libraries -->
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Libraries" asp-action="Index" title="Libraries"> Libraries </a>
                </li>
                <!-- Movies -->
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Movies" asp-action="Index" title="Movies"> Movies </a>
                </li>

                <!-- TV Shows Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="showsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        TV Shows
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="showsDropdown">
                        <li>
                            <a class="dropdown-item" asp-controller="Shows" asp-action="Index" title="Shows">
                                Shows </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Seasons" asp-action="Index" title="Seasons">
                                Seasons </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Episodes" asp-action="Index" title="Episodes">
                                Episodes </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>